* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tiro Bangla', serif;
    color: white;
    position: relative;
}

nav {
    background-color:
        rgba(240, 171, 171, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


p {
    font-size: 16px;
    line-height: 1.66vw;
    letter-spacing: 0.2em;
    font-weight: 400;
}

h2 {
    font-weight: 400;
    font-size: calc(16px + 1.66vw);
    line-height: 3.2vw;
    letter-spacing: 0.2em;
}

h3 {
    font-weight: 500;
    font-size: calc(16px + 0.41vw);
    line-height: 3.2vw;
    letter-spacing: 0.2em;
}

.logo {
    margin-left: 2.7vw;
}

.navbar ul {
    display: flex;
    margin-right: 9.387vw;
}

.navbar ul li {
    font-size: calc(16px + 0.41vw);
    text-decoration: none;
    list-style-type: none;
    margin: 0 2.8vw;
}

.navbar ul li a {
    font-size: calc(16px + 0.41vw);
    text-decoration: none;
    cursor: pointer;
}

.navbar ul li:hover {
    transform: scale(1.1);
}

.showcase {
    display: flex;
    justify-content: space-between;
}

.showcase .left-showcase {
    margin: 14.94vw 0 0 9.21vw;
}

.showcase h1 {
    width: 48vw;
    font-size: calc(16px + 4.16vw);
    color:
        rgba(86, 86, 86, 1);
    line-height: 6.61vw;
    letter-spacing: 0.2em;
    font-weight: 400;
    margin-bottom: 1.13vw;
}

.showcase p {
    width: 36.92vw;
    color:
        rgba(86, 86, 86, 1);
    margin-bottom: 2.23vw;
}

.showcase a {
    padding: 0.677vw 2.281vw;
    font-size: 16px;
    color:
        rgba(86, 86, 86, 1);
    letter-spacing: 0.2em;
    font-weight: 500;
    background-color:
        rgba(240, 171, 171, 1);
    border-radius: 2.7vw;
    color: white;
    text-decoration: none;
}

.showcase img {
    width: 39.84vw;
    height: 100%;
}

.products {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30vw;
    gap: 0.1vw;
    margin-top: 0.1vw;
}

.products-left-side {
    width: 100%;
}

.products-left-side img {
    height: 100%;
}

.quadrant {
    display: grid;
    grid: auto / auto auto;
    gap: 0.1vw;
    width: 100%;
    height: 100%;
    margin-right: 0.1vw;
}

.quadrant p {
    color: white;
    background-color: rgba(115, 185, 236, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.employees {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.76vw;
    margin-bottom: 500px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card-inner.is-flipped {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}


.border {
    border-top: 1px solid black;
    width: 16.45vw;
    align-self: center;
    margin-top: 2.23vw;
}

.underline {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.8vw;
}

.slogan {
    display: flex;
    justify-content: center;
}

.slogan-content {
    text-align: center;
}

.slogan-writting h2 {
    color: black;
    width: 57.29vw;
    font-size: 1.66vw;
    letter-spacing: 0.2em;
    font-weight: 400;
}

.sloagn-btn {
    padding: 1.09vw 3.125vw;
    background-color: rgba(240, 171, 171, 1);
    color: white;
    border-radius: 52px;
    border: none;
    font-size: 1.25vw;
    letter-spacing: 0.2em;
    margin-top: 3.95vw;
}

.what-clients-saying {
    background-color: rgba(115, 185, 236, 1);
    margin-top: 5.83vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.what-clients-saying-header {
    padding-top: 4.68vw;
}

.what-clients-saying-header h3 {
    margin-bottom: 1vw;
}

.underline-what-clients-are-saying {
    border-top: 1px solid white;
    width: 22.56vw;
    margin: auto;
}